.idea/
.gradle/
build/
*.iml
local.properties
*.keystore
gradle.properties

TMessagesProj/src/main/java/org/telegram/messenger/BuildVars.java
TMessagesProj/.externalNativeBuild/
TMessagesProj/src/main/java/com/android/vending/
TMessagesProj/src/test/java/instrumental/
TMessagesProj/src/test/resources/
*.hprof
