<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="module.christian.ru.dating">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>



        <activity
            android:name=".activity.NearMeActivity"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".activity.TrebaActivity"
            android:theme="@style/AppTheme"
            />


    </application>


</manifest>
